* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #029688 14vh, #CCCCCC 10vh);
}

.boolzapp-container {
    position: relative;
    width: 1200px;
    max-width: 100%;
    height: calc(100vh - 150px);
    background-color: #fff;
    display: flex;
}

.boolzapp-container .left-side {
    position: relative;
    flex: 30%;
    background-color: red;
}

.boolzapp-container .right-side {
    position: relative;
    flex: 70%;
    background-color: green;
}